/* ========== BUTTON PRIMARY HOVER AND FOCUS EFFECTS ========== */
/* Make a white circle appear on hover and focus */
.btn-primary::before {
    /* Make a white circle appear on hover and focus */
    content: "";
    position: absolute;
    background: var(--color-secondary);
    width: 120%;
    height: 0;
    padding-bottom: 120%;
    top: -110%;
    left: -10%;
    border-radius: 50%;
    transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.btn-primary:hover::before,
.btn-primary:focus-visible::before {
    /* Make the white circle appear when hovering or focusing */
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
}

/* Make a secondary coloured square appear on hover and focus */
.btn-primary::after {
    /* Make a secondary coloured square appear on hover and focus */
    content: "";
    background: var(--color-secondary);
    transform: translate3d(0, -100%, 0);
    transition: transform 0.25s cubic-bezier(0.1, 0, 0.3, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-primary:hover::after,
.btn-primary:focus-visible::after {
    /* Make the secondary coloured square appear when hovering or focusing */
    transform: translate3d(0, 0, 0);
    transition-duration: 0.05s;
    transition-delay: 0.4s;
}

/* ========== TEXT ANIMATION FIXED ========== */
/* Make the text colour change to primary on hover and focus */
.btn-primary:hover span,
.btn-primary:focus-visible span,
.btn-primary:hover h5,
.btn-primary:focus-visible h5 {
    /* Make the text colour change to primary on hover and focus */
    animation: textOut 0.28s forwards, textIn 0.32s forwards 0.28s;
    color: var(--color-primary) !important;
    z-index: 999;
}

/* First animation — text moves up and disappears */
@keyframes textOut {
    0% {
        /* Text moves up and disappears */
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        /* Text moves up and disappears */
        transform: translateY(-120%) scale(1.3, 1.7);
        opacity: 0;
    }
}

/* Second animation — text comes from below */
@keyframes textIn {
    0% {
        /* Text comes from below */
        transform: translateY(100%) scale(1, 0.8);
        opacity: 0;
    }
    100% {
        /* Text comes from below */
        transform: translateY(0) scale(1, 1);
        opacity: 1;
    }
}
